* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#headline-container {
  background-image: url(images/Header-llustration-desktopbgimage.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#skills-container span {
  background-color: #D0D9D4;
  color:#172B4D;
  ;
}

#project-btn {
  
}